@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
//adding some colors
//variables
//colors:
$sidebar1: #DBE1F1;
$sidebar2: #D6EAF8;
$background1: #EDD1B0;
$background2: #FBEEE6;
$button-dark-blue: #85C1E9;
$button-grey: #CCD1D1;

//header?
$header: $sidebar2;
//

$menu: 300px;
$width: calc(100% - $menu); //the width of any content trays minus the menu

  body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: $background1;
    font-size: 14pt;
  }

  .menu{
    height: 100%;
    background-color: $sidebar1;
    font-size: 16;
    color: black;
  }

  
  .menu-item{
    width: 300px;
  }

  a{
    color: black;
  }
   
  .header {
    background: $header;
    padding: 20px 15px 15px 15px;
    position: relative;
  }
   
  h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
  }   

  .content{
    display: flex;
    flex-direction: row;
  }

  .todo{
    width: 1500px; //change to dynamic viewport minus 300px
  }

  .content{
    width: $width;//viewport - 300
    height: 100%;
  }

  .column{
    width: 50%;
    padding-left: 25px;
    padding-top: 10px;

  }
 
  .priorities{
    height: 75%;
  }

  .title{
    //format titles
  }

  .task-list{
    display: flex;
    flex-direction: column; 
    scroll-behavior: auto; //do we want to scrol?
  }

  .task{
    display: flex;
    flex-direction: row; 
    text-align: left;
    margin: auto;
  }

  .new-task{
    display: flex;
    flex-direction: row; 
    text-align: center;
    margin: auto;
  }

  .new-task-button{
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
  }

  .mini-calendar{
    height: 65%;
  }

  .classes{
    height: 35%;
  }

  .needs-validation{
    margin-left: 20px;
  }