body {
    padding: 10px;
    font-family: sans-serif;
    background-color: rgb(157, 157, 179);
    background-image: linear-gradient(to bottom, #797979, #db8718 100%);
    background-attachment: fixed;
   
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
    padding: 0;
    margin: 0;
   
    font-size: 14px;
  }